@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate_marquee {
  animation: marquee 20s linear infinite;
}

.animate_marquee:hover {
  animation-play-state: paused;
}
